.navbar-expand-lg {
    background-color: bisque;
    font-family: 'Aclonica', sans-serif;
}

.navbar-brand {
    color: #8a3806;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: sienna;
    padding-left: 1rem;
    padding-right: 1rem;
}